@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Mulish:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');


body {
    font-family: Mulish;
}


.container {
    max-width: 1170px !important;
    padding: 0 20px;
    margin: 0 auto;
}


.menuicon {
    display: none;
}


button {
    color: #FFF;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background-color: #FF5400;
    cursor: pointer;
    transition: 1s;
}


button:hover {
    transform: scale(1.1);
    background-color: greenyellow;
}


.section-header {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
}


/* header section */


.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.dream-travel {
    display: flex;
    align-items: center;
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}


.dream-travel img {
    width: 68px;
    height: 56.008px;
    margin-right: 16px;
}


.travel,
.home {
    color: #FF5400;
}


.nav-item {
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
}


/* Explore Section */


.banner-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.banner-img {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 500px;
    width: auto;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}


.banner-txt h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}


.banner-txt p {
    width: 676px;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}


.transparent {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 800px;
    padding: 16px;
    margin: auto;
}




.where>input[type=text] {
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-left: 16px;
}


.where input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}


.when,
.select {
    display: flex;
    width: 174px;
    height: 52px;
    justify-content: space-between;
    border-radius: 8px;
    background: #FFF;
    align-items: center;
    padding: 0 10px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
}


/* Popular Section */
.popular {
    display: flex;
    gap: 53px;
    justify-content: space-between;
}


.box {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


.right-part img {
    width: 540px;
    height: 550px;
}


/* Section Destination */
.destinations {
    margin-top: 100px;
}


.destination {
    display: flex;
    justify-content: center;
    width: 643px;
}


.headerdestination {
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
}


.destinationsp {
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}


.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6,
.img-7 {
    position: relative;
}


.Maldives,
.Indonesia,
.Srilanka,
.North-America,
.Kashmir,
.Bangladesh,
.Bandarban {
    position: absolute;
    top: 36%;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;


}


.box1 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}


.box2,
.box3 {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 24px;


}


/* Why Choose Us Section */
.choose-us>.section-header>h1 {
    text-align: center;
}


.choose-us>p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    margin: auto;
}


.row-1 {
    margin-top: 48px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}


.left-choseus {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 25px;
}


.right-choseus {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    height: 284px;
    padding: 25px;
}


.row-2 {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}


.bottom-choseus {
    width: 573px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    height: 284px;
    flex-shrink: 0;
    padding: 25px;
    margin-top: 25px;
}




/* Newsletter Section */
.newsletter {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 100px;
}


.news-container {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}


.news-container p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


.input-container {
    display: flex;
    flex-direction: column;
}


hr {
    margin-bottom: 30px;
}


.inputbox {
    position: relative;
}


.inputbox2 {
    margin-bottom: 16px;
}




.inputbox input {
    width: 90%;
    padding: 16px;
    color: rgba(19, 19, 24, 0.30);
    font-size: large;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}




.subscribe {
    /* width: 505px; */
    height: 52px;
}


.img-container {
    position: relative;
}


.img-container img {
    background-repeat: no-repeat;
}


.save {
    position: absolute;
    border-radius: 16px;
    background: #FF5400;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    padding: 20px;
    bottom: 135px;
    right: 15px;


}


.save>p {
    text-align: center;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}


.save>h3 {
    text-align: center;
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    margin-top: 2px;


}


/* Footer Section */
.footer-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);


}


.footer-header {
    display: inline-block;
}


.footer-title {
    display: flex;
    align-items: center;
    gap: 20px;
}


.footer-description {
    width: 100%;
    text-align: center;
}


.icons {
    margin-top: 32px;
    display: flex;
    gap: 23px;
}


.copyright {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    margin-top: 50px;


}


@media only screen and (max-width: 767px) {


    .container {
        max-width: 100% !important;
        padding: 0 20px;
        margin: 0 auto;
    }


    .nav-item {
        display: none;
    }


    .dream-travel {
        display: flex;
        gap: 2px;
        align-items: center;
        color: #131318;
        font-family: Mulish;
        font-size: 21.54px;
        font-weight: 800;
    }


    .dream-travel img {
        width: 28.72px;
    }


    .menuicon {
        display: block;
    }


    .banner-img {
        margin-bottom: 50px;
    }


    .banner-txt h1 {
        font-size: 22px;
    }


    .banner-txt p {
        width: 100%;
        margin-bottom: 14px;
    }




    .transparent {
        width: 80%;
        padding: 10px;
        margin: auto;
        flex-direction: column;
    }


    .where,
    .select,
    .when {
        width: 100%;
    }


    .popular {
        flex-direction: column;
        gap: 20px;
    }


    .section-header {
        font-size: 20px;
    }






    .right-part img {
        width: 100%;
        height: auto;
    }


    .destination {
        flex-direction: column;
        align-items: center;
    }


    .headerdestination,
    .destinationsp,
    .Maldives,
    .Indonesia,
    .Srilanka,
    .North-America,
    .Kashmir,
    .Bangladesh,
    .Bandarban {
        font-size: 24px;
        line-height: 32px;
    }


    .box1,
    .box2,
    .box3 {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }


    .row-1 {
        flex-direction: column;
    }


    .left-choseus,
    .right-choseus,
    .bottom-choseus {
        width: 100%;
        margin-bottom: 20px;
    }


    .choose-us>p {
        width: 100%;
    }




    .newsletter {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }


    .news-container {
        width: 100%;
    }


    .inputbox input {
        width: 100%;
    }


    .subscribe {
        width: 100%;
    }


    .save {
        width: 100%;
        bottom: 20px;
    }


    .footer-title {
        flex-direction: column;
        gap: 10px;
    }


    .footer-description {
        width: 100%;
    }


    .icons {
        justify-content: center;
    }
}


button {
    color: #FFF;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background-color: #FF5400;
    cursor: pointer;
    transition: 1s;
}
